<div [ngStyle]="{display: 'flex'}">
  <div class="main">
    <!--  head-->
    <app-notes-head></app-notes-head>
    <!--  notes-->
     <app-note *ngFor="let note of notes" [note]="note"
               (selected)="selectNote($event)" (deleted)="deleteNote($event)">

     </app-note>
  </div>
  <app-note-editor></app-note-editor>
</div>

